@import "_vars";
@import "_global";
@import "_fonts";
// start header
.header__top {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
}

.header__help {
    color: $red;
}

.header__btn {
    width: 72px;
    border-radius: 4px;
    color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.header__btn-login {
    background-color: $green;
}
.header__btn-reg {
    background-color: $red;
    margin-left: 7px;
}

.header__btn-logout {
    background-color: $red;
}

.header__buttom {
    background-color: $font;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
    .menu__item {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
}

.menu__item-link {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

.header-circle {
    & .active {
        display: block;
    }
    bottom: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    & + .header-circle {
        margin-left: 15px;
    }
    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -4px;
        top: -8px;
        font-size: 11px;
        color: #fff;
    }
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notification {
    span {
        background-color: $yellow;
    }
}

.massage {
    span {
        background-color: $tomato;
    }
}

.basket {
    span {
        background-color: $green-light;
    }
}

.notification__inner,
.massage__inner {
    .circle__link img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 20px;
    }
}
.notification__content,
.massage__content {
    .circle__content-title,
    .circle__category,
    .circle__date {
        line-height: 18px;
    }
}

.massage__content .circle__category {
    font-size: 11px;
}

.circle__inner {
    position: absolute;
    top: 62px;
    right: -20px;
    overflow: hidden;
    height: 0;
    transition: all 0.5s;
    border-top: 0px solid rgb(204, 204, 204);
}
.basket__box,
.massage__box,
.notification__box {
    position: relative;
    height: 90px;
    margin: 56px 0px 0 15px;
    &:hover {
        .circle__inner {
            height: auto;
            border-width: 1px;
            overflow: hidden;
        }
        .circle__item {
            padding: 20px;
        }
        .header-circle::before {
            color: $font;
        }
    }
}
.circle__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    width: 270px;
    z-index: 5;
    position: relative;
    background-color: #fff;
    transition: all 0.5s;
    &::before {
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 16px;
        color: #b0bec5;
        cursor: pointer;
    }
}
.icons__color::before {
    color: $tomato;
}

.circle__link img {
    margin-right: 15px;
    width: 73px;
    height: 57px;
}

.circle__content {
    line-height: 20px;
    align-items: center;
}

.circle__content-title {
    @include f500;
    color: $font;
}

.circle__category {
    color: $green-light;
    font-size: 12px;
}
.circle__prise {
    color: #000;
    @include f500;
}

.circle__date {
    font-size: 10px;
    color: #90a4ae;
}

.basket__box {
    margin-right: 20px;
}

.basker__sub {
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    padding: 17px 15px 13px;
    z-index: 100;
    background-color: #fff;
}
.basker__total {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 22px;
    margin-bottom: 15px;
    @include f700;
    color: $font;
    font-size: 16px;
}

.basker__button {
    display: flex;
    justify-content: space-between;
}
.basker__button-left {
    padding: 12px 23px 12px 18px;
    background-color: $green-light;
    color: #fff;
    font-size: 14px;
    @include f700;
}

.basker__button-right {
    padding: 12px;
    background-color: $red;
    color: #fff;
    font-size: 14px;
    @include f700;
}

.uzer__box {
    position: relative;
    height: 90px;
    margin-top: 38px;
    &:hover {
        .uzer__menu-list {
            padding: 20px;
            height: auto;
            border-width: 1px;
        }
    }
    .uzer {
        &__inner {
            display: flex;
            align-items: center;
            margin-right: 30px;
            padding-right: 22px;

            position: relative;
            &::before {
                content: "\f107";
                position: absolute;
                font-family: "icomoon";
                color: #000;
                right: 0;
                top: 0;
                color: #707070;
                font-size: 16px;
            }
        }
        &__images {
            margin-right: 15px;
            width: 34px;
            height: 34px;
            overflow: hidden;
        }

        &__about {
            font-style: 14px;
            line-height: 24px;
        }
        &__name {
            @include f500;
            color: #222222;
        }
        &__money {
            color: $green;
            @include f700;
        }
        &__menu-list {
            position: absolute;
            top: 71px;
            border: 0px solid rgb(204, 204, 204);
            background-color: #fff;
            width: 158px;
            height: 0;
            overflow: hidden;
            transition: all 0.5s;
            left: 20px;

            & a {
                color: #546e7a;
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
    }
}
.header__btn-off {
    display: none;
}

.header__btn-logout {
    display: none;
    &.header__btn-on {
        display: block;
    }
}

.burger__menu {
    width: 35px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.burger__line {
    background-color: $green;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    transition: all 0.5s linear;
    &-first {
        top: 0;
    }
    &-second,
    &-third {
        top: 50%;
        transform: translateY(-50%);
    }

    &-fourht {
        bottom: 0;
    }
}

.burger__menu-active .burger__line-first,
.burger__menu-active .burger__line-fourht {
    opacity: 0;
}

.burger__menu-active .burger__line-second {
    transform: translateY(-50%) rotate(45deg);
}

.burger__menu-active .burger__line-third {
    transform: translateY(-50%) rotate(-45deg);
}

.burger__menu {
    display: none;
}

.user__icon-box {
    display: none;
}
// end header

//Login start

#modal {
    background-color: $green-light;
    max-width: 730px;
    width: 100%;
    padding: 90px 160px 100px;
    display: none;
}

.modal__title {
    color: #fff;
    font-size: 48px;
    @include f700;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.modal__wrapper {
    form {
        max-width: 400px;
        margin: 0 auto;
    }
    label {
        position: relative;
        display: block;
        &::before {
            position: absolute;
            font-family: "icomoon";
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;
        }
    }
    .modal__label-login::before {
        content: "\f007";
    }
    .modal__label-pass::before {
        content: "\f023";
    }

    input {
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: $green;
        color: #fff;
        padding-left: 40px;
        display: block;
        width: 100%;
        outline: none;
        padding-right: 20px;
        &::placeholder {
            color: #fff;
            font-size: 14px;
        }
    }

    button {
        margin: 19px 8px 0 0;
        padding: 18px 0 16px;
        width: 140px;
        background-color: #fff;
        color: #000;
        border: none;
        font-style: 14px;
        @include f700;
        text-transform: uppercase;
        text-align: center;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }
}
.creat__link {
    margin-top: 19px;
    font-size: 18px;
    color: #fff;
    padding: 14px 0 16px;
    width: 246px;
    text-align: center;
    background-color: $green;
    position: relative;
    &::before {
        content: "\1f301";
        font-family: icomoon;
        position: absolute;
        left: 30px;
        font-size: 17px;
    }
}

.fancybox-button svg path {
    color: #fff;
}

.lost__pass {
    display: block;
    color: #fff;
    font-size: 18px;
    margin-top: 25px;
}

//Login end

// start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;

    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;
        &-title {
            margin-bottom: 10px;
            font-size: 48px;
            @include f700;
            line-height: 72px;
        }
        &-text {
            margin-bottom: 50px;
            font-size: 20px;
            @include f500;
            line-height: 32px;
        }
        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input {
                display: block;
                width: 100%;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                height: 56px;
                border: none;
                font-size: 14px;
                @include f500;
                padding: 0 60px 0 25px;
                &::placeholder {
                    color: #90a4ae;
                    @include f500;
                }
            }
            button {
                position: absolute;
                border: none;
                background-color: transparent;
                right: 8px;
                top: 15px;
            }

            .search__icon {
                width: 20px;
                height: 22px;
                cursor: pointer;
            }
        }
    }
}
// end search

// start produt
.products {
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        border: none;
        padding: 14px 20px 12px;
        background-color: #fff;
        color: $font;
        transition: all 0.5s;
        cursor: pointer;
        & + button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
    button:hover {
        background-color: $red;
        color: #fff;
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.product__item {
    max-width: 360px;
    //змінити на 442 при адаптиві
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &-img {
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-contant {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
        @include f500;
    }

    &-title {
        font-size: 18px;
        color: $font;
        display: block;
    }

    &-category {
        display: block;
        color: $green;
        font-size: 14px;
    }
    &-prise {
        font-size: 20px;
        @include f700;
        color: $font;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;
    }
    &-author {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

        span {
            font-size: 14px;
            @include f500;
            padding-left: 46px;
            display: block;
            padding-right: 50px;
            max-width: 245px;
        }
    }

    &-star {
        font-size: 12px;
        span {
            color: $font;
        }
    }
}

.product__buttons {
    text-align: center;
}
.product__button {
    border: none;
    margin: 0 5px;
    background-color: #fff;
    padding: 20px 32px 19px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    &:hover {
        background-color: $red;
        color: #fff;
    }

    &.mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
}

// end product

// start product-slider
.product-slider {
    padding: 110px 0 90px;
    .slick-dots {
        text-align: center;
        margin-top: 30px;
        li {
            display: inline-block;
            margin-right: 3px;
            margin-left: 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 15px;
                height: 16px;
                cursor: pointer;
                & + button {
                }
            }
        }
    }
}

// end product-slider

// start advantages

.advantages {
    background-color: $font;
    padding: 110px 0;
    &__title {
        color: #fff;
        padding-bottom: 90px;
        margin: 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0 15px;
        &:hover {
            .advantages__item-images {
                background-color: $green;
            }
            .advantages__item-title {
                color: $green;
            }
            .advantages__item-images {
                g {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
        &-images {
            width: 114px;
            height: 114px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 30px;
            transition: all 0.5s;
        }
        &-title {
            @include f500;
            font-size: 24px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 20px;
            transition: all 0.5s;
        }
    }
}

.iconsvg-1 {
    svg {
        width: 50px;
    }
}

iconsvg-2 {
    svg {
        width: 70px;
    }
}

iconsvg-1 {
    svg {
        width: 86px;
    }
}

// end advantages

//start author

.author {
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 653px;
        width: 100%;
        min-height: 216px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title {
        font-size: 25px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 260px;
        span {
            @include f700;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        background-color: #fff;
        padding: 14px 40px 14px;
        color: $font;
    }
}

//end author

//start tutorials

.tutorials {
    padding: 70px 0 150px;
    &__title {
        margin-bottom: 60px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
    &__images {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 270px;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 60px;
        @include f700;
        min-height: 100px;
        background-color: #f8f8f8;
        color: $font;
        padding: 0 10px;
    }
}

//end tutorials

//start footer

.footer {
    background-color: $font;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 115px 0 90px;
    }
    &__item {
        max-width: 270px;
        width: 100%;
        &-title {
            font-size: 22px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            color: #fff;
            position: relative;
            padding-bottom: 31px;
            margin-bottom: 30px;
            &::after {
                content: "";
                position: absolute;
                width: 51px;
                height: 4px;
                left: 2px;
                bottom: 0;
                background-color: $green;
            }
        }
        &-text {
            color: #b7c3c8;
            margin-bottom: 30px;
        }
        &-addres {
            color: #fff;
            @include f500;
            margin-bottom: 23px;
            padding-left: 30px;
            position: relative;
            &::before {
                content: "\f041";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
            }
        }
        &-tel {
            color: #fff;
            @include f500;
            padding-left: 30px;
            position: relative;
            &::before {
                content: "\6d";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
            }
        }
        &-list li {
            padding-left: 22px;
            position: relative;
            & a {
                margin-bottom: 14px;
                color: #b7c3c8;
            }
            &::before {
                content: "\f105";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
                top: -2px;
            }
        }
        &-social {
            display: flex;
            justify-content: space-between;

            max-width: 170px;
            margin-bottom: 33px;

            & li + li {
                margin-left: 5px;
            }
        }
    }

    &__form-title {
        font-size: 20px;
        line-height: 36px;
        color: #fff;
        margin-bottom: 15px;
    }

    &__form {
        position: relative;
        & input {
            display: block;
            width: 100%;
            padding: 0 58px 0 15px;
            border: none;
            background-color: #2f3c43;
            color: #fff;

            height: 40px;
            & ::placeholder {
                font-size: 14px;
                line-height: 36px;
                color: #697378;
            }
        }
        & button {
            position: absolute;
            background-color: $green;
            top: 0;
            right: 0;
            cursor: pointer;
            height: 40px;
            width: 44px;
            border: none;
            &::after {
                content: "\f124";
                color: #fff;
                font-size: 20px;
                font-family: "icomoon";
            }
        }
    }

    &__col {
        max-width: 215px;
    }
}

.footer__copy {
    border-top: 1px solid #424d53;
    padding: 27px 0 35px;
}
.footer__copy-text {
    text-align: center;
    color: #8c9194;
}

//end footer

// start search__product
.product__wrapper {
    .search__product {
        min-height: 230px;
    }

    .search__inner {
        padding: 0;
    }

    .search__inner {
        padding: 60px 0 70px;
        &-text {
            margin-bottom: 25px;
        }
    }
}
// end search__product

// star navigation
.navigation {
    padding: 45px 0;
    background-color: #f4f6f5;
    &__list {
        display: flex;
        .first__page {
            padding-right: 13px;
            margin-right: 10px;
            position: relative;
            &::after {
                content: "-";
                position: absolute;
                right: 0;
            }
        }
        .green-line::after {
            color: $green;
        }
        .last__page {
            a {
                color: #000;
            }
        }
    }
}

//end navigation

//start product-one
.product-one {
    background-color: #f4f6f5;
    padding-bottom: 100px;
    &__inner {
        display: flex;
    }

    &__content {
        max-width: 870px;
        margin-right: 31px;
    }
    &__images {
        background-color: #fff;
        border: 1px solid #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;

        &-inner {
            max-width: 829px;
            height: 422px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__title {
        font-size: 30px;
        @include f500;
        line-height: 40px;
        margin: 30px 0 25px;
        color: #000;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 45px;
        margin-top: 25px;
        color: #707070;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 55px;
    }

    &__link {
        a {
            padding: 13px 8px;
            width: 150px;
            color: $grey;
            background-color: #000;
            font-size: 16px;
            & + a {
                margin-left: 18px;
            }
        }
        .link-color__red {
            background-color: $red;
        }

        .link-color__bg {
            background-color: $font;
        }
        .link-color__green {
            background-color: $green;
        }
    }

    &__social {
        a {
            width: 54px;
            height: 50px;
            position: relative;
            &::before {
                font-size: 18px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .icon-vk {
            background-color: #6370b6;
        }

        .icon-instagram {
            background-color: #c538b9;
        }

        .icon-youtube-play {
            background-color: $red;
        }

        .icon-linkedin {
            background-color: #4f71ce;
        }
    }

    &__tabs {
        margin-bottom: 55px;
    }

    .tabs {
        display: flex;
        text-align: center;
        border: 1px solid #dcdcdc;

        .tab {
            width: 100%;
            background-color: #fff;
            font-size: 16px;
            color: #78909c;
            padding: 20px 0;
            cursor: pointer;

            & + .tab {
                border-left: 1px solid #dcdcdc;
            }
        }
    }

    .tab_content {
        background-color: #fff;
        border: 1px solid #dcdcdc;
        border-top: none;
        padding: 30px 30px 50px;
    }

    .tab-item {
        display: none;
        &:first-child {
            display: block;
        }
    }

    .tab-item__list {
        font-size: 16px;
        color: #707070;
        line-height: 36px;
        column-count: 2;
    }

    &__more {
        &-title {
            font-size: 18px;
            line-height: 24px;
            padding: 18px 25px;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            margin-bottom: 29px;
        }
        &-works {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-work {
            margin-bottom: 27px;
            display: flex;
            max-width: 270px;
            height: 90px;
            align-items: center;
            background-color: #fff;
            width: 100%;
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        }
        &-images {
            width: 100px;
            height: 90px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;
        }
        &-mini-title {
            font-size: 14px;
            color: $font;
            @include f500;
        }

        &-category {
            color: $green;
            font-size: 12px;
        }
        &-prise {
            font-size: 18px;
            @include f700;
            color: $font;
        }
    }
}

//end product-one

//start product-one-asite

.asite__item {
    width: 270px;
    background-color: #fff;
    padding: 0 32px 32px;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
    &-title {
        font-size: 20px;
        line-height: 60px;
        color: $font;
        border-bottom: 1px solid #dcdcdc;
    }
}

.prise__box {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    &-prise {
        font-size: 22px;
        color: $red;
        @include f500;
    }
}

.prise__button {
    margin-bottom: 7px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    color: #fff;
    font-size: 16px;
    @include f700;
    text-align: center;
    display: block;
    padding: 15px 22px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.prise-cart {
    background-color: $green;
    &::before {
        content: "\f07a";
        font-family: "icomoon";
        position: absolute;
        left: 35px;
        top: 16px;
        font-size: 16px;
    }
}

.prise-favourites {
    background-color: #42a5f5;
    &::before {
        content: "\f08a";
        font-family: "icomoon";
        position: absolute;
        left: 15px;
        top: 16px;
        font-size: 16px;
        font-weight: 400;
    }
}

.prise-buy {
    background-color: #546e7a;
}

.asite-author-box {
    display: flex;
    padding: 25px 0;
}

.author__images {
    margin-right: 14px;
    height: 63px;
}

.author__info {
}

.author__name {
    font-size: 18px;
    color: $font;
    margin-bottom: 5px;
}

.author__profile__link {
    font-size: 13px;
    color: #707070;
    border: 1px solid #d6d6d6;
    padding: 4px 10px;
}

.awards__list {
    li {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 6px;
        }
        & + li {
            margin-left: 4px;
        }
    }
}

.icon-smile-o {
    background-image: url(../images/awords-bg/orange.jpg);
    height: 37px;
    width: 34px;
}

.icon-heart {
    background-image: url(../images/awords-bg/tomato.png);
    height: 37px;
    width: 34px;
}

.icon-flash {
    background-image: url(../images/awords-bg/blue.png);
    height: 37px;
    width: 34px;
}

.icon-pagelines {
    background-image: url(../images/awords-bg/green.png);
    height: 37px;
    width: 34px;
}

.icon-star {
    background-image: url(../images/awords-bg/greey.png);
    height: 37px;
    width: 34px;
}

.asite__item-sales {
    padding-top: 23px;
    font-size: 20px;
    color: $font;
    @include f700;
    &::before {
        content: "\f07a";
        padding-right: 20px;
        font-family: "icomoon";
        font-size: 20px;
        color: #a6b5bb;
    }
    span {
        font-size: 16px;
        @include f300;
        margin-left: 15px;
        color: #707070;
    }
}

.asite__item.asite__item-sales {
    padding-bottom: 25px;
}

.information__box {
    padding-top: 23px;
}

.information__text {
    font-style: 14px;
    color: $font;
    @include f500;
    & + .information__text {
        margin-top: 20px;
    }
    span {
        color: #70838d;
        font-weight: 400;
    }
}
//end product-one-asite

//start 404

.page-404 {
    background-color: #f4f6f5;
    padding-bottom: 150px;
    &__inner {
        border: 1px solid #e7ecf2;
    }
    &__title {
        padding: 23px 25px;
        font-size: 24px;
        color: $font;
        @include f500;
        background-color: #fff;
        border-bottom: 1px solid #e7ecf2;
    }

    &__content {
        background-color: $green;
        text-align: center;
        padding: 100px 0 100px;
        color: #fff;
        border-bottom: none;
    }

    &__error {
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 300px;
        line-height: 300px;
        padding-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/page-404.png);
            width: 157px;
            height: 301px;
            margin-left: 17px;
        }
    }

    &__sub {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 510px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    &__link {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 3px;
        padding: 20px 30px 16px;
        @include f500;
    }
}

//end 404

//start__about

.about {
    background-color: #f4f6f5;
    padding-bottom: 150px;
    &__inner {
        border: 1px solid #e7ecf2;
        background-color: #fff;
    }

    &__title {
        padding: 23px 25px;
        font-size: 24px;
        color: $font;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }

    &__content {
        padding: 40px 50px 50px;

        &-title {
            font-size: 20px;
            line-height: 24px;
            color: $font;
            @include f700;
            margin-bottom: 20px;
        }
    }

    .about__content-box + .about__content-box {
        margin-top: 40px;
    }
}

//end about

//start contact

.contact {
    background-color: #f4f6f5;
    padding-bottom: 150px;
    &__inner {
        border: 1px solid #e7ecf2;
    }

    &__title {
        padding: 23px 40px;
        font-size: 24px;
        color: $font;
        @include f500;
        background-color: #fff;
        border-bottom: 1px solid #e7ecf2;
    }

    &__content {
        background-color: #fff;
        padding: 35px 40px 15px;
    }

    &__map {
        margin-bottom: 50px;
        iframe {
            width: 100%;
            height: 415px;
        }
    }

    &__box {
        display: flex;
    }

    &__info {
        margin-left: 40px;
        position: relative;
        max-width: 250px;
        margin-right: 70px;
    }
    &__address {
        &::before {
            content: "\f041";
            font-family: "icomoon";
            position: absolute;
            color: #8bc34a;
            font-size: 24px;
            left: -37px;
        }
    }
    &__phone {
        &::before {
            content: "\6d";
            font-family: "icomoon";
            position: absolute;
            color: #8bc34a;
            font-size: 24px;
            left: -40px;
        }
    }
    &__email {
        &::before {
            content: "\f003";
            font-family: "icomoon";
            position: absolute;
            color: #8bc34a;
            font-size: 24px;
            left: -40px;
        }
    }

    &-item__title {
        color: $font;
        font-size: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &::after {
            width: 44px;
        }
    }

    .contact__info-item + .contact__info-item {
        margin-top: 32px;
    }

    &__form {
        width: 100%;
        &-title {
            color: $font;
            font-size: 24px;
            margin-bottom: 28px;
            @include f500;
        }
        &-row {
            input {
                width: 350px;
                height: 42px;
                border: none;
                background-color: #f1f4f5;
                margin-bottom: 30px;
                padding: 0 17px;
                &::placeholder {
                }
            }
            input + input {
                margin-left: 23px;
            }
        }

        textarea {
            width: 100%;
            height: 193px;
            border: none;
            background-color: #f1f4f5;
            padding: 15px 17px;
            margin-bottom: 20px;
            resize: none;
        }

        button {
            border: none;
            background-color: $green;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            @include f700;
            max-width: 190px;
            text-align: center;
            width: 100%;
            padding: 21px 0;
        }
    }
}

//end contact

//start settings

.settings {
    background-color: #f4f6f5;
    padding-bottom: 150px;
}

.product-one__tabs.settings__tabs {
    display: flex;
    .tabs {
        max-width: 270px;
        width: 100%;
        height: 100%;
        margin-right: 30px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-bottom: none;

        .tab {
            display: block;
            border-bottom: 1px solid #dedede;
            padding: 17px 17px 17px 50px;
            cursor: pointer;
            font-size: 14px;
            @include f500;
            &::before {
                left: 23px;
                color: #444444;
            }
            &.active {
                border-bottom: 2px solid $green;
                color: #37474f;
                font-size: 14px;
                &::before {
                    color: $green;
                }
            }
        }
    }
    .tab_content {
        width: 100%;
    }
}

.page__box {
    border: 1px solid #dedede;
    background-color: #fff;
    &-title {
        padding: 21px 30px 24px 30px;
        font-size: 24px;
        color: $font;
        @include f500;
        border-bottom: 1px solid #dedede;
    }
    &-content {
        padding: 35px 30px 80px 35px;
    }

    .settings__line {
        margin-bottom: 21px;
        display: flex;
        align-items: center;

        label {
            color: #444;
            width: 260px;
        }
        input {
            max-width: 540px;
            width: 100%;
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            height: 40px;
            color: #000;
            padding: 0 15px;
        }
        select {
            max-width: 540px;
            width: 100%;
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            height: 40px;
            color: #000;
            padding: 0 15px;
            color: #707070;
        }
    }
    form {
        
        button {
            border: none;
            width: 500px;
            background-color: $green;
            color: #fff;
            width: 108px;
            padding: 16px 0;
            margin-top: 3px;
            @include f500;
            text-align: center;
            margin-left: 260px;
            cursor: pointer;
            
        }
    }
}

//end settings

@import "media.scss";
