@import "_vars";
@import "_global";
@import "_fonts";
// start header
.header__top {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
}

.header__help {
    color: $red;
}

.header__btn {
    width: 72px;
    border-radius: 4px;
    color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.header__btn-login {
    background-color: $green;
}
.header__btn-reg {
    background-color: $red;
    margin-left: 7px;
}

.header__buttom {
    background-color: $font;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
    .menu__item {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
}

.menu__item-link {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
// end header
// start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}

.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 32px;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding: 0 60px 0 25px;
            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 14px;
        }

        .search__icon {
            width: 20px;
            height: 22px;
            cursor: pointer;
        }
    }
}
// end search
// start produt
.products {
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        border: none;
        padding: 14px 20px 12px;
        background-color: #fff;
        color: $font;
        transition: all 0.5s;
        cursor: pointer;
        & + button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
    button:hover {
        background-color: $red;
        color: #fff;
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.product__item {
    max-width: 360px;
    //змінити на 442 при адаптиві
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &-img {
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-contant {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
        @include f500;
    }

    &-title {
        font-size: 18px;
        color: $font;
        display: block;
    }

    &-category {
        display: block;
        color: $green;
        font-size: 14px;
    }
    &-prise {
        font-size: 20px;
        @include f700;
        color: $font;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;
    }
    &-author {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

        span {
            font-size: 14px;
            @include f500;
            padding-left: 46px;
            display: block;
            padding-right: 50px;
            max-width: 245px;
        }
    }

    &-star {
        font-size: 12px;
        span {
            color: $font;
        }
    }
}

.product__buttons {
    text-align: center;
}
.product__button {
    border: none;
    margin: 0 5px;
    background-color: #fff;
    padding: 20px 32px 19px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    &:hover {
        background-color: $red;
        color: #fff;
    }

    &.mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
}

// end product

// start product-slider
.product-slider {
    padding: 110px 0 90px;
    .slick-dots {
        text-align: center;
        margin-top: 30px;
        li {
            display: inline-block;
            margin-right: 3px;
            margin-left: 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 15px;
                height: 16px;
                cursor: pointer;
                & + button {
                }
            }
        }
    }
}

// end product-slider

// start advantages

.advantages {
    background-color: $font;
    padding: 110px 0;
    &__title {
        color: #fff;
        padding-bottom: 90px;
        margin: 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0 15px;
        &:hover {
            .advantages__item-images {
                background-color: $green;
            }
            .advantages__item-title {
                color: $green;
            }
            .advantages__item-images {
                g {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
        &-images {
            width: 114px;
            height: 114px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 30px;
            transition: all 0.5s;
        }
        &-title {
            @include f500;
            font-size: 24px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 20px;
            transition: all 0.5s;
        }
    }
}

.iconsvg-1 {
    svg {
        width: 50px;
    }
}

iconsvg-2 {
    svg {
        width: 70px;
    }
}

iconsvg-1 {
    svg {
        width: 86px;
    }
}

// end advantages

//start author

.author {
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 653px;
        width: 100%;
        min-height: 216px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title {
        font-size: 25px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 260px;
        span {
            @include f700;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        background-color: #fff;
        padding: 14px 40px 14px;
        color: $font;
    }
}

//end author

//start tutorials

.tutorials {
    padding: 70px 0 150px;
    &__title {
        margin-bottom: 60px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
    &__images {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 270px;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 60px;
        @include f700;
        min-height: 100px;
        background-color: #f8f8f8;
        color: $font;
        padding: 0 10px;
    }
}

//end tutorials

//start footer

.footer {
    background-color: $font;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 115px 0 90px;
    }
    &__item {
        max-width: 270px;
        width: 100%;
        &-title {
            font-size: 22px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            color: #fff;
            position: relative;
            padding-bottom: 31px;
            margin-bottom: 30px;
            &::after {
                content: "";
                position: absolute;
                width: 51px;
                height: 4px;
                left: 2px;
                bottom: 0;
                background-color: $green;
            }
        }
        &-text {
            color: #b7c3c8;
            margin-bottom: 30px;
        }
        &-addres {
            color: #fff;
            @include f500;
            margin-bottom: 23px;
            padding-left: 30px;
            position: relative;
            &::before {
                content: "\f041";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
            }
        }
        &-tel {
            color: #fff;
            @include f500;
            padding-left: 30px;
            position: relative;
            &::before {
                content: "\f095";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
            }
        }
        &-list li {
            padding-left: 22px;
            position: relative;
            & a {
                margin-bottom: 14px;
                color: #b7c3c8;
            }
            &::before {
                content: "\f105";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
                top: -2px;
            }
        }
        &-social {
            display: flex;
            justify-content: space-between;
            max-width: 170px;
            margin-bottom: 33px;

            & li a {
            }
        }
    }

    &__form-title {
        font-size: 20px;
        line-height: 36px;
        color: #fff;
        margin-bottom: 15px;
    }

    &__form {
        position: relative;
        & input {
            display: block;
            width: 100%;
            padding:0 58px 0 15px ;
            border: none;
            background-color: #2f3c43;
            color: #fff;
            
            height: 40px;
            & ::placeholder {
                font-size: 14px;
                line-height: 36px;
                color: #697378;
            }
        }
        & button {
            position: absolute;
            background-color: $green;
            top: 0;
            right: 0;
            cursor: pointer;
            height: 40px;
            width: 44px;
            border: none;
            &::after{
                content: '\f124';
                color: #fff;
                font-size: 20px;
                font-family: "icomoon";

            }
            
        }
    }

    &__col {
        max-width: 215px;
    }
}

.footer__copy {
    border-top: 1px solid #424d53;
    padding: 27px 0 35px;
}
.footer__copy-text {
    text-align: center;
    color: #8c9194;
}

//end footer
